/var/log/apache2/*.log /srv/www/*/log/*.log {
	daily
	rotate 14
	compress
	create
	delaycompress
	missingok
	notifempty
	sharedscripts
	su root adm
	postrotate
		! invoke-rc.d apache2 status >/dev/null 2>&1 ||
			invoke-rc.d apache2 reload
		for c in /usr/lib/php/php*-fpm-reopenlogs; do
			[ ! -x "$c" ] || "$c"
		done
	endscript
}
