[Unit]
Description=Discard unused blocks 10 minutes after booting, then weekly
Documentation=man:fstrim
Documentation=https://github.com/lkrms/lk-platform
ConditionVirtualization=!container

[Timer]
OnBootSec=600
OnActiveSec=1w
AccuracySec=1h

[Install]
WantedBy=timers.target
