[Unit]
Description=Discard unused blocks at least 1 hour after booting, then weekly
Documentation=man:fstrim
Documentation=https://github.com/lkrms/lk-platform
ConditionVirtualization=!container

[Timer]
OnBootSec=1h
OnUnitActiveSec=1w
AccuracySec=1h
RandomizedDelaySec=1h

[Install]
WantedBy=timers.target
