ACTION=="add", ATTRS{idProduct}=="?*", ATTRS{idVendor}=="?*", ENV{ID_INPUT_KEYBOARD}=="?*", ENV{LK_KEYBOARD}="$attr{idVendor}:$attr{idProduct}", RUN+="/opt/lk-platform/lib/udev/keyboard-event.sh %E{LK_KEYBOARD}"
ACTION=="remove", ENV{LK_KEYBOARD}=="?*", RUN+="/opt/lk-platform/lib/udev/keyboard-event.sh %E{LK_KEYBOARD}"
